<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chanlin.pet.dao.PlattsMapper" >
  <resultMap id="BaseResultMap" type="com.chanlin.pet.model.Platts" >
    <id column="p_id" property="pId" jdbcType="INTEGER" />
    <result column="p_title" property="pTitle" jdbcType="VARCHAR" />
    <result column="p_url" property="pUrl" jdbcType="VARCHAR" />
    <result column="p_info" property="pInfo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    p_id, p_title, p_url, p_info
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from platts
    where p_id = #{pId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from platts
    where p_id = #{pId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chanlin.pet.model.Platts" >
    insert into platts (p_id, p_title, p_url, 
      p_info)
    values (#{pId,jdbcType=INTEGER}, #{pTitle,jdbcType=VARCHAR}, #{pUrl,jdbcType=VARCHAR}, 
      #{pInfo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.chanlin.pet.model.Platts" >
    insert into platts
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pId != null" >
        p_id,
      </if>
      <if test="pTitle != null" >
        p_title,
      </if>
      <if test="pUrl != null" >
        p_url,
      </if>
      <if test="pInfo != null" >
        p_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pId != null" >
        #{pId,jdbcType=INTEGER},
      </if>
      <if test="pTitle != null" >
        #{pTitle,jdbcType=VARCHAR},
      </if>
      <if test="pUrl != null" >
        #{pUrl,jdbcType=VARCHAR},
      </if>
      <if test="pInfo != null" >
        #{pInfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chanlin.pet.model.Platts" >
    update platts
    <set >
      <if test="pTitle != null" >
        p_title = #{pTitle,jdbcType=VARCHAR},
      </if>
      <if test="pUrl != null" >
        p_url = #{pUrl,jdbcType=VARCHAR},
      </if>
      <if test="pInfo != null" >
        p_info = #{pInfo,jdbcType=VARCHAR},
      </if>
    </set>
    where p_id = #{pId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chanlin.pet.model.Platts" >
    update platts
    set p_title = #{pTitle,jdbcType=VARCHAR},
      p_url = #{pUrl,jdbcType=VARCHAR},
      p_info = #{pInfo,jdbcType=VARCHAR}
    where p_id = #{pId,jdbcType=INTEGER}
  </update>
</mapper>